<h2>All patients:</h2>
<ul>
    <% @patients.each do |patient| %>
        <li>Name: <%=link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.appointments.count%></li><br>
    <% end %>
</ul>